.nav-container
{
    /* background-color: rgb(231, 246, 251); */
    margin : 0.5rem;
    display : flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px dotted lightgrey;
}

.menuOutlined
{
    margin-right : 0.5rem;
}

.outfit-gallery
{
    font-family : 'Courier New', Courier, monospace;
    font-size: 1.5rem;
    margin-right : 0.5rem;
}

@media (min-width : 2560px) {
    .nav-container
    {
        /* background-color: rgb(231, 246, 251); */
        margin-top : 0.5rem;
        margin-left: 10%;
        margin-right: 10%;
        display : flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px dotted lightgrey;
    }
}