.products-main-container
{
    padding-top: 7rem;
}

.deals-heading
{
    margin-left : 1rem;
    margin-right : 1rem;
    font-family :sans-serif;
    margin-top: 1rem;
    margin-bottom: 1rem;
    
}

.pro-container{
    margin : 0.5rem;
    display : grid;
    grid-template-columns: 1fr 1fr;
    gap : 0.5rem;
    justify-content: center;
    align-items: center;
}

.pro-items{
    
    height : 20rem;
    background-color: rgb(244, 243, 241);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid lightgrey;
    border-radius: 4px;
    /* padding : 1rem; */
}

.pro-items-image{
    margin : 0px 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border : 1px solid lightgrey;
    
}

.pro-items-details{
    margin : 0px 0.5rem;
    margin-top: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    
}

.pro-title{
    /* background-color: rgb(190, 246, 208); */
    font-size: 1rem;
    height : 2.5rem;
    line-height: 1.2rem;
    overflow: hidden;
    text-overflow: ellipsis; 
    text-align: center; 
    color :rgb(0, 111, 180);
    
}



.pro-price{
    margin-top: 1rem;
    margin-bottom: 0.3rem;
    font-family :'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    font-weight: bold;
}

.pro-price2{
    font-size: small;
    font-style: italic;
    text-decoration-line: line-through;
}

.pro-special-price
{
    margin-top: 0.5rem;
}

.pro-sizes-align
{
    display : flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap : 1rem;
    margin-top: 0.5rem;
    
}

.pro-sizes-align-inside
{
    display : flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap : 0.5rem;
}



@media (min-width : 475px) {}
@media (min-width : 640px) {}
@media (min-width : 768px) {
    .pro-container
    {
        margin : 0.5rem;
        display : grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap : 0.5rem;
        justify-content: center;
        align-items: center;
    }
}
@media (min-width : 1024px) {}
@media (min-width : 1280px) {}
@media (min-width : 1440px) {

    .pro-title
    {
        margin-top: 1rem;
        /* background-color: rgb(190, 246, 208); */
        height : 1.5rem;
        overflow: hidden;
        text-align: center; 
        color :rgb(0, 111, 180);
    }

    .pro-items-details
    {
        display: flex;
        flex-direction: column;
        align-items: center; 
    }
    
}
@media (min-width : 2560px) {
    .pro-container
    {
        margin-top : 0.5rem;
        margin-left: 10%;
        margin-right: 10%;
        display : grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap : 0.5rem;
        justify-content: center;
        align-items: center;
    }

    .deals-heading
    {
        margin-top : 0.5rem;
        margin-left: 10%;
        margin-right: 10%;
        font-family :'Times New Roman', Times, serif;
        margin-top: 1rem;
        margin-bottom: 1rem;
        padding-left : 1rem;
    }
}